*{
    margin:0;
    padding: 0;
    font-family: 'Cinzel', serif;
    font-family: 'Smooch Sans', sans-serif;    
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/jeremy-perkins-FsK54FVNRfM-unsplash-gradient.png);
    background-position:center;
    background-size:cover;
    position:relative;
}
nav {
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items:center;
    background-color: #544D5B;
    height: 50px;
}

nav img {
    width: 250px;
}

.heroSection {
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
    display:inline-block;
    position:relative;
}

.nav-links {
    flex: 1;
    text-align: left;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #C5BBA4;
    text-decoration: none;
    font-size: 200%;
}

.myName {
    color:#f2f2f2;
    text-decoration: none;
    font-size: 300%;
    padding: 150px;
}

.heroSection {
    padding-right: 30%
}

.introText {
    color:#f2f2f2;
    text-decoration: none;
    font-size: 50%;
}
ul li::after {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}